* {
margin: 0;
font-family: 'Poppins', sans-serif, 'arial';
}

header{
    background: #333;
}

.sticky_header {
    /* padding: 8px; */
    background: #5c759552;
   
}

.sticky_header {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: initial;
    font-weight: 500;
    letter-spacing: 0.09px;
    cursor: pointer;
    color: rgba(238, 236, 236, 0.87) !important;
}

.header {

    text-align: center;
    color: white;
}

.navbar-custom {
    display: flex;
    background-color: #333;
    outline: 1px solid rgb(212, 206, 206);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.navbar-custom a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar-custom a:hover {
    background-color: #ddd;
    color: black;
}



.logo-nav{
    height: 57px;
    margin-top: 7px;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}
nav ul li{
    display: inline-block;
    
    margin: 0 5px;
}
/* nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
} */
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.name{
    color:red;
}

.name::after{
    content: '<code> to </code>';
}

@media (max-width: 320px){
  
    .logo-nav{
        display: none;
    }
}

@media (max-width: 1024px){
  
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 768px){

    .logo-nav{
        display: none;
    }
    .checkbtn{
        display: block;
        margin-left: 30px;
    }
    ul{
        position: fixed;
       
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
        background-color: #333;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #000090;
    }
    #check:checked ~ ul{
        left:0;
    }

    .navbar{
        margin-left: 100px;
    }
}




/* footer style star */
.container-footer {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
}

.header-footer {
    background-color: #2d2d2d;
    display: flex;
    flex-flow: column nowrap;
}

.menu-footer {
    display: flex;
    flex-flow: row nowrap;
    height: 300px;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .4);

}

.menu-footer a {
    text-decoration: none;
}

.logo {
    flex: 1 1 auto;

}

img.img-logo {
    max-width: 200px;
}

.nav-footer {
    display: flex;
    flex: 4 1 40%;
    flex-flow: row wrap;
    font-size: 18px;

}

.nav-footer a {
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

.nav-footer a:hover {
    color: #a3a395;
}

.social-footer {
    flex: 1 1 auto;
    display: flex;
}

.social-footer a {
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

.social-footer a:hover {
    color: #a3a395;
}

.iframe_div {
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

.iframe_div h6 {
    font-weight: 550;
    color: rgb(255, 255, 255);
    margin-top: 16px;
    text-align: center;

}

iframe.iframe {
    margin-top: 10px;


}


.copyright {

    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;

}

.text-copyright p {
    flex: 1 1 100%;
    color: rgb(228, 220, 220);
    width: 200px;
    text-align: center;
}





/* CSS pantallas de 320px o inferior */
@media (max-width: 320px) {


    .row h1 {
        text-align: center;
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-footer {
        justify-content: center;

    }

    .nav-footer a {
        margin: 5px 0;
        font-weight: 550;

    }

    /* .iframe_div h6 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    } */

    iframe.iframe {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu-footer {
        flex-direction: column;
        height: auto;

    }

    img.img-logo {
        display: none;
    }

    .nav-footer {
        padding: 15px;
        margin: 5px;
    }

    .nav-footer a{
        margin: 10px;
    }

    /*.social-footer{
         margin: px; 
    }*/


}


/* footer style end */