* {
    font-family: 'Poppins', sans-serif, 'arial';
    background-color: #333;
    color: white;
}

.header {
    text-align: center;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.grid-container-main {
    display: grid;
    grid-template-columns: 60% 40%;
    /* border: 3px solid rgba(0, 0, 0, 0.8); */
    padding: 0px;
  
}



.principal {
    flex-direction: column;
    align-items: flex-start;
    
    height: 600px;
    display: flex;
    justify-content: start;

    
}

.img-principal {
    width: 500px;
    
}

.text-titulo{
    font-size: 2rem;
    margin-top: 100px;
    margin-left: 40px;
    
}

.text-subtitulo{
    font-size: 1.25rem;
    margin-left: 40px; 
}
.btn-estudiar {
    background-color: #4CAF50;
    font-size: 1.2rem;
    width: 50%;
    margin: 20px auto;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}

table {
    background-color: #4CAF50;
    font-size: 1.25rem;
    width: 50%;
    margin: 20px auto;
    Border:1; Width:100%;
    margin: auto;
}
td.center {
    text-align: center;
}